body {
  position: relative;
}

.debug {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;

  .col {
    @include grid-column;

    // background-color: rgba(red, 0.2);
    height: 100%;

    // Force float left columns, so we can test optimally
    float: left;
    margin-left: map-get($grid-gutters, small);
    width: 100%;

    &::before {
      content: '';
    }
  }

  .row {
    height: 100%;
  }

  .col & {
    position: absolute;

    .col {
      // background-color: rgba(orange, 0.2);
    }
  }
}