.tests-flex {

  .row {
    @include grid-row;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: map-get($grid-gutters, small);
    margin-right: map-get($grid-gutters, small);

    &::after {
      content: '';
      clear: both;
    }
  }

  .col {
    flex: 1;

    &:not(:last-of-type) {
      margin-right: map-get($grid-gutters, small);
    }

    & > &:first-of-type {
      margin-left: 0;
    }

    @for $column from 1 through $grid-columns {
      &-#{$column} {
        @include grid-column($column);

        @for $ofColumn from 1 through $grid-columns {
          &-#{$ofColumn} {
            @include grid-column($column of $ofColumn);
          }
        }

        &-full {
          @include grid-column($column gutter);
        }

        &-gutter {
          @include grid-column($column gutter 2);

          & + .col {
            margin-left: 0;
          }
        }
      }
    }

    &-push {
      $directions: bottom left right top horizontal vertical;

      @each $direction in bottom left right top horizontal vertical {
        &-#{$direction} {
          @include grid-push($direction);

          @for $column from 1 through $grid-columns {
            &-#{$column} {
              @include grid-push($direction $column);
            }
          }
        }
      }
    }

    &-pad {
      $directions: bottom left right top horizontal vertical;

      @each $direction in bottom left right top horizontal vertical {
        &-#{$direction} {
          @include grid-pad($direction);

          @for $column from 1 through $grid-columns {
            &-#{$column} {
              @include grid-pad($direction $column);
            }
          }
        }
      }
    }
  }

}