.tests-float {

  .row {
    @include grid-row;

    &::after {
      content: '';
      clear: both;
    }
  }

  .col {
    @include grid-column;

    &-seamless {
      @include grid-column(seamless);
    }

    @for $column from 1 through $grid-columns {
      &-#{$column} {
        @include grid-column($column);

        &-seamless {
          @include grid-column($column seamless);
        }

        @for $ofColumn from 1 through $grid-columns {
          &-#{$ofColumn} {
            @include grid-column($column of $ofColumn);

            &-seamless {
              @include grid-column($column of $ofColumn seamless);
            }
          }
        }

        &-full {
          @include grid-column($column gutter);
        }

        &-gutter {
          @include grid-column($column gutter .3333);

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }

    &-push {
      $directions: bottom left right top horizontal vertical;

      @each $direction in bottom left right top horizontal vertical {
        &-#{$direction} {
          @include grid-push($direction);

          @for $column from 1 through $grid-columns {
            &-#{$column} {
              @include grid-push($direction $column);
            }
          }
        }

        &-seamless {
          &-#{$direction} {
            @include grid-push($direction seamless);

            @for $column from 1 through $grid-columns {
              &-#{$column} {
                @include grid-push($direction $column seamless);
              }
            }
          }
        }
      }
    }

    &-pad {
      $directions: bottom left right top horizontal vertical;

      @each $direction in bottom left right top horizontal vertical {
        &-#{$direction} {
          @include grid-pad($direction);

          @for $column from 1 through $grid-columns {
            &-#{$column} {
              @include grid-pad($direction $column);
            }
          }
        }

        &-seamless {
          &-#{$direction} {
            @include grid-pad($direction seamless);

            @for $column from 1 through $grid-columns {
              &-#{$column} {
                @include grid-pad($column $direction seamless);
              }
            }
          }
        }
      }
    }
  }

  // Responsive columns

  .col-half {
    @include grid-column(1 of 2);

    &-seamless {
      @include grid-column(1 of 2 seamless);
      margin-left: 0;

      &-gutter {
        @include grid-column(1 of 2 gutter 2 seamless);
        margin-left: 0;
      }

      &-no-gutter {
        @include grid-column(1 of 2 -gutter seamless);
        margin-left: 0;
      }
    }
  }
}