@function is-directional($prop) {
  $allowed: bottom left right top horizontal vertical;
  $match: false;

  @if type-of($prop) == list or type-of($prop) == map {
    @each $p in $prop {
      $match: index($allowed, $p) != null;
    }
  } @else {
    $match: index($allowed, $prop) != null;
  }

  @return $match;
}

@mixin directional-prop($direction, $prop, $value, $separator: '-') {
  @debug $direction, $prop, $value, $separator;
  @if is-directional($direction) {
    @if $direction == null {
      #{$prop}: $value;
    } @else if $direction == horizontal {
      #{$prop + $separator}left: $value;
      #{$prop + $separator}right: $value;
    } @else if $direction == vertical {
      #{$prop + $separator}bottom: $value;
      #{$prop + $separator}left: $value;
    } @else {
      #{$prop + $separator + $direction}: $value;
    }
  } @else {
    // @warn 'Directional prop expected.';
  }
}

@mixin list-to-selector ($list, $prop, $value: null, $separator: '-') {
  $class: null;

  @if type-of($prop) == map {
    $class: nth(map-keys($prop), 1);
    $prop: map-get($prop, $class);
  }

  @each $item in $list {
    @debug #{if($class, $separator + $class, '') + $separator + $item};
    &#{if($class, $separator + $class, '') + $separator + $item} {
      @include directional-prop($item, $prop, $value);

      @content;
    }
  }
}
