<head>
  <title>TB-SWAGGER Test Suite</title>
  <link rel="stylesheet" href="dist/test.css">
</head>

<body>

  <main class="container tests-flex">
    <h1>Welcome to the tb-swagger test suite!</h1>

    <p><a href="/">&lsaquo; Back to index</a></p>

    <ol>
      <li><a href="#defaults">Defaults</a></li>
      <li><a href="#combinations">Combinations</a></li>
      <li><a href="#pushes">Pushes</a></li>
      <li><a href="#pads">Pads</a></li>
      <li><a href="#pads-pushes">Pads &amp; pushes</a></li>
      <li><a href="#recursion">Recursion</a></li>
    </ol>

    <section id="defaults">
      <h2>Defaults</h2>

      <div class="test">
        <p>The columns are <code>12/12</code> and should be on the grid.</p>

        <div class="row">
          <div class="col"></div>
        </div>
      </div>

      <div class="test">
        <p>The columns are <code>6/12</code> and should be on the grid.</p>

        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </div>

      <div class="test">
        <p>The columns are <code>4/12</code> and should be on the grid.</p>

        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </div>

      <div class="test">
        <p>The columns are <code>3/12</code> and should be on the grid.</p>

        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </div>

      <div class="test">
        <p>The columns are <code>2/12</code> and should be on the grid.</p>

        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </div>

      <div class="test">
        <p>The columns are <code>1/12</code> and should be on the grid.</p>

        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </div>
    </section>

    <section id="combinations">
      <h2>Combinations</h2>

      <div class="test">
        <p>Use a combination of <code>8/12</code> and <code>4/12</code> columns
          and should be on the grid.</p>

        <div class="row">
          <div class="col col-8"></div>
          <div class="col col-4"></div>
        </div>
      </div>

      <div class="test">
        <p>Use a combination of <code>6/12</code> and <code>2 * 3/12</code> columns
          and should be on the grid.</p>

        <div class="row">
          <div class="col col-6"></div>
          <div class="col col-3"></div>
          <div class="col col-3"></div>
        </div>
      </div>

      <div class="test">
        <p>Use a combination of <code>4/12</code>, <code>3/12</code>, <code>2/12</code>,
          <code>1/12</code>, and <code>2/12</code> columns and should be on the grid.</p>

        <div class="row">
          <div class="col col-4"></div>
          <div class="col col-3"></div>
          <div class="col col-2"></div>
          <div class="col col-1"></div>
          <div class="col col-2"></div>
        </div>
      </div>
    </section>

    <section id="pads"></section>
      <h2>Pads</h2>

      <div class="test">
        <p>Use a combination of <code>6/12 + 1/12 pad left</code> and <code>6/12 + 1/12 pad horizontal</code> columns
          and should be on the grid.</p>

        <div class="row">
          <div class="col col-6 col-pad-left"></div>
          <div class="col col-6 col-pad-horizontal"></div>
        </div>
      </div>

      <div class="test">
        <p>Use a combination of <code>6/12 + 1/12 push left</code> and <code>3/12 + 1/12 push horizontal</code> columns
          and should be on the grid.</p>

        <div class="row">
          <div class="col col-4 col-pad-left"></div>
          <div class="col col-6 col-pad-horizontal"></div>
          <div class="col col-2 col-pad-right"></div>
        </div>
      </div>

      <div class="test">
        <p>Use a combination of <code>6/12 + 2/12 push left</code> and <code>2/12 + 2/12 push right</code> columns
          and should be on the grid.</p>

        <div class="row">
          <div class="col col-6 col-pad-left-2"></div>
          <div class="col col-6 col-pad-right-4"></div>
        </div>
      </div>
    </section>

    <section id="pushes"></section>
      <h2>Pushes</h2>

      <div class="test">
        <p>Use a combination of <code>6/12 + 1/12 push left</code> and <code>3/12 + 1/12 push horizontal</code> columns
          and should be on the grid.</p>

        <div class="row">
          <div class="col col-6 col-push-left"></div>
          <div class="col col-3 col-push-horizontal"></div>
        </div>
      </div>

      <div class="test">
        <p>Use a combination of <code>6/12 + 1/12 push left</code> and <code>3/12 + 1/12 push horizontal</code> columns
          and should be on the grid.</p>

        <div class="row">
          <div class="col col-4 col-push-left-3"></div>
          <div class="col col-3 col-push-horizontal"></div>
        </div>
      </div>

      <div class="test">
        <p>Use a combination of <code>6/12 + 2/12 push left</code> and <code>2/12 + 2/12 push right</code> columns
          and should be on the grid.</p>

        <div class="row">
          <div class="col col-6 col-push-left-2"></div>
          <div class="col col-2 col-push-right-2"></div>
        </div>
      </div>
    </section>

    <section id="pads-pushes">
      <h2>Pads &amp; pushes</h2>

      <div class="test">
        <p>TODO</p>

        <div class="row">
          <div class="col col-4 col-push-left-2 col-pad-left-2"></div>
          <div class="col col-4 col-push-left-2 col-pad-right-2"></div>
        </div>
      </div>

      <div class="test">
        <p>TODO</p>

        <div class="row">
          <div class="col col-3 col-push-left-3 col-pad-right-1"></div>
          <div class="col col-6 col-pad-left-5"></div>
        </div>
      </div>
    </section>

    <section id="recursion">
      <h2>Recursion</h2>

      <div class="test">
        <p>TODO</p>

        <div class="row">
          <div class="col col-6 row">
            <div class="col col-6"></div>
            <div class="col col-6"></div>
          </div>
          <div class="col col-4 col-push-left-2 col-pad-right-2"></div>
        </div>
      </div>

      <div class="test">
        <p>TODO</p>

        <div class="row">
          <div class="col col-4 col-push-left-2 col-pad-right-2"></div>
          <div class="col col-6 row">
            <div class="col col-4"></div>
            <div class="col col-4"></div>
            <div class="col col-4"></div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div class="debug">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>

</body>