<head>
  <title>TB-SWAGGER Test Suite</title>
  <link rel="stylesheet" href="dist/test.css">
</head>

<body>

  <main class="container">
    <h1>Welcome to the tb-swagger test suite!</h1>

    <h2>Select your flavor:</h2>

    <ol>
      <li><a href="/flex.html">Flexbox grids</a></li>
      <li><a href="/float.html">Float-left grids</a></li>
    </ol>
  </main>

  <div class="debug">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>

</body>