@import '../node_modules/normalize.css/normalize';
@import 'src/tb-swagger';

@import 'reset';
@import 'common';

@import 'flex';
@import 'float';

@import 'page';
@import 'utilities';


section {
  background-color: rgba(blue, 0.05);
}

.container {
  background-color: rgba(blue, 0.05);
}

.test {
  @include margin(vertical);

  &::before {
    content: '';
    pointer-events: none;
  }

  [class*="col"] {
    background-color: rgba(blue, 0.05);
    min-height: 5rem;
    position: relative;

    &::before {
      // border-top: solid .25rem rgba(blue, 0.2);
      content: counter(col);
      counter-increment: col;
      display: block;
      padding: 0.5rem;
      position: absolute;
    }
  }

  .row {
    counter-reset: col;
  }
}

@import 'debug';