// Default gutter
$gutter: map-get($grid-gutters, small);
// Do NOT quote the keys of this map for it will break the queries used in
// mappy-breakpoints. The following works:
$screens-to-gutter-size: (
  phone-landscape tablet-portrait: map-get($grid-gutters, small),
  tablet-portrait: map-get($grid-gutters, medium),
  desktop: map-get($grid-gutters, large)
);

@function _spacing-parse-query($query) {
  $_direction: null;
  $_multiplier: 1;

  @each $arg in $query {
    @if (type-of($arg) == string) {
      $_direction: $arg;
    }

    @if (type-of($arg) == number) {
      $_multiplier: $arg;
    }
  }

  $queryMap: (
    direction: $_direction,
    multiplier: $_multiplier
  );

  @return $queryMap;
}

@mixin _spacing-directional-prop($property, $queryMap) {
  $direction: map-get($queryMap, direction);
  $multiplier: map-get($queryMap, multiplier);

  @if $direction == null {
    #{$property}: $gutter * $multiplier;

    @each $breakpoint, $gutter in $screens-to-gutter-size {
      @if mixin-exists(mappy-bp) {
        @include mappy-bp($breakpoint) {
          #{$property}: $gutter * $multiplier;
        }
      }
    }
  } @else if $direction == horizontal {
    #{$property}-left: $gutter * $multiplier;
    #{$property}-right: $gutter * $multiplier;

    @each $breakpoint, $gutter in $screens-to-gutter-size {
      @if mixin-exists(mappy-bp) {
        @include mappy-bp($breakpoint) {
          #{$property}-left: $gutter * $multiplier;
          #{$property}-right: $gutter * $multiplier;
        }
      }
    }
  } @else if $direction == vertical {
    #{$property}-bottom: $gutter * $multiplier;
    #{$property}-top: $gutter * $multiplier;

    @each $breakpoint, $gutter in $screens-to-gutter-size {
      @if mixin-exists(mappy-bp) {
        @include mappy-bp($breakpoint) {
          #{$property}-bottom: $gutter * $multiplier;
          #{$property}-top: $gutter * $multiplier;
        }
      }
    }
  } @else {
    #{$property}-#{$direction}: $gutter * $multiplier;

    @each $breakpoint, $gutter in $screens-to-gutter-size {
      @if mixin-exists(mappy-bp) {
        @include mappy-bp($breakpoint) {
          #{$property}-#{$direction}: $gutter * $multiplier;
        }
      }
    }
  }
}

@mixin margin($query: null) {
  @include _spacing-directional-prop(
    margin,
    _spacing-parse-query($query)
  );
}

@mixin padding($query: null) {
  @include _spacing-directional-prop(
    padding,
    _spacing-parse-query($query)
  );
}
